.A3{
    position: absolute;
    margin-top: 2.7%;
    margin-left: 4%;

}
.A4{
    position: relative;
    margin-top: -20%;
    margin-left: 18%;
}
.A5{
    position: relative;
   margin-top: 13%;
   margin-left: -21%;

}

.A6{
    position: absolute;
    margin-left: 7.8%;
    margin-top: 8%;
}

