@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1{
    color: #6d6d6d;
    font-size: 22pt;
    
  }
  h2
  {
  color: #36C7D2;
  font-size: 16pt;
  font-weight: bold;
  }
  h3
  {
  color: #36C7D2;
  font-size: 14pt;
  }
  h4
  {
    color: #9EA5A5;
    font-size: 14pt;
  }
  h5
  {
      color: #36C7D2;
  }
  h6{
    color: white;
    font-size: 12pt;
    font-weight: bold;
  }
  h7{
    color: #9EA5A5;
    font-size: 11pt;
  }
  p
  {
    font-size: 15pt;
    color:#696A6F;
  }

  
  
