@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1{
    color: #6d6d6d;
    font-size: 28pt;
    
    
  }
  h2
  {
  color: black;
  font-size: 14pt;
  
  }
  h3
  {
  color: black;
  font-size: 13pt;
  }
  h4
  {
    color: #9EA5A5;
    font-size: 14.5pt;
  }
  h5
  {
      color: #36C7D2;
  }
  h6{
    color: white;
    font-size: 12pt;
    font-weight: bold;
  }
  h7{
    color: #9EA5A5;
    font-size: 11pt;
  }
  .menu {
    color: black;
    font-size: 10pt;
  }
  p
  {
    font-size: 14pt;
    color:#696A6F;
  }
  .Fondo
  {
      position: absolute;
      z-index: -1;
  }
  
  
  
